<% if @option_type.product_based? %>
  <td>
    <% v = f.object.variant %>

    <% if (v.present?) %>
      <%= link_to("#{v.product.name} [#{v.sku}]", admin_product_path(v.product)) %>
    <% else %>
      <%= "nil" %>
    <% end %>
  </td>
  <td>
    <%= f.text_field :quantity %>
  </td>
  <td>
    <%= f.text_field :special_price %>
  </td>
  <td>
    <%= f.check_box :default_option %>
  </td>
<% end %>

